<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Joe Steele">

  <title>Click</title>

  <link rel="stylesheet" href="css/build.css">
</head>

<body>
  {{body}}
  <script src="js/build.js"></script>
</body>

</html>
